/* TODO: Add responsive styles for mobile devices */
/* FIXME: Fix header alignment issue */

:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --headings-color: #1b0760;
    --body-text-color: #574e73;
}