/* TODO: Add responsive styles for mobile devices */
/* FIXME: Fix header alignment issue */

:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --headings-color: #1b0760;
    --body-text-color: #a195c3;
}

html {
    font-size: 62.5%;
}


body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 2.4rem; /* 2.4rem -> 24px */
    color: var(--body-text-color);
}

h1, h2 , h3 {
    color: var(--headings-color);
    margin-bottom: 1rem;
}

h1 {font-size: 7rem;} /* 7rem -> 70px */
h2 {font-size: 4rem;} /* 4rem -> 40px */
h3 {font-size: 3rem;} /* 3rem -> 30px */

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px ) {
body { font-size: 1.8rem;}
h1 {font-size: 8rem;} /* 7rem -> 70px */
h2 {font-size: 4rem;} /* 4rem -> 40px */
h3 {font-size: 2.4rem;} /* 3rem -> 30px */


}