/* TODO: Add responsive styles for mobile devices */
/* FIXME: Fix header alignment issue */
*,*::after,*::before {
    box-sizing: border-box;
}
:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --headings-color: #1b0760;
    --body-text-color: #a195c3;
    
    
}

/* Typography: */
html {
    font-size: 62.5%;
}


body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 2.4rem; /* 2.4rem -> 24px */
    color: var(--body-text-color);
}

h1, h2 , h3 {
    color: var(--headings-color);
    margin-bottom: 1rem;
}

h1 {font-size: 7rem;} /* 7rem -> 70px */
h2 {font-size: 4rem;} /* 4rem -> 40px */
h3 {font-size: 3rem;} /* 3rem -> 30px */

p {
    margin-top: 0;
}
/* Desktop typography */
@media screen and (min-width: 1024px ) {
body { font-size: 1.8rem;}
h1 {font-size: 8rem;} /* 7rem -> 70px */
h2 {font-size: 4rem;} /* 4rem -> 40px */
h3 {font-size: 2.4rem;} /* 3rem -> 30px */
}

/* Links (Learn More link) */

a {
    text-decoration: none;
    color: inherit; /*Inherits the color from the body element*/
}

.fa-arrow-right,.link-arrow {color: var(--accent-color);}

.link-arrow{
    font-size: 2rem;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.fa-arrow-right {transition: margin-left 0.2s;} /*Transition for the animation below*/

.learn-more:hover .fa-arrow-right {margin-left: 1rem;} /* The last state of the animation*/

@media screen and (min-width: 1024px ) {
.link-arrow {font-size: 1.5rem;}
}

/* Badges */
.badge {
    border-radius: 100px;
    color: #ffff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 1.7rem 0.5rem 1.7rem;
    white-space: nowrap;
}

.badge--big {
    font-size: 2rem;
    background-color: var(--secondary-color);
}

.badge--primary {
    background-color: #116de4;
}
.badge--secondary {
    background-color: #01cdf1;
}

@media screen and (min-width: 1024px ) {
    .badge {font-size: 1.2rem;}
    .badge--big {font-size: 1.5rem;}
}

/* Lists */
.list {
    color: var(--headings-color);
    list-style: none;
}


.inline-list {
    font-weight: bold;
}
.inline-list .list__item {
    display: inline-block;
    font-size: 2rem;
    padding-left: 5rem;
}

.list-tick {
    font-weight: 500;
    list-style-image: url(../images/tick.svg);
    margin: 2rem 0;
}

.list-tick .list__item {
    padding-left: 1rem;
    font-size: 2.4rem;
    padding-bottom: 3rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
.inline-list .list__item {
    font-size: 1.5rem;
    padding-left: 2rem;
}
.list-tick .list__item {
    padding-left: 0.5rem;
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
}

}

/* Icons */

.icon 
{
    width: 30px; height: 30px;
}

.icon--primary {
    fill: var(--primary-color); /* Only applies to svg images */
}
.icon--secondary {
    fill: white;
    
}

.icon-container {
    display: flex; 
    align-items: center; justify-content: center;
    width: 64px; height: 64px;
}

.white-bg-icon {
    background-color: #f3f9f8;
}


/* Buttons */

.btn {
    padding: 2.3rem 7rem;
    border-radius: 100px;
    text-transform:uppercase;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s;
    white-space: nowrap;
    margin: 1rem 3rem;
}


/* Variants */
.btn--block { width: 100%; display: inline-block;}
.btn--primary {background-color: var(--headings-color);}
.btn--secondary {background-color: var(--secondary-color);}
.btn--accent {background-color: var(--accent-color);}


.btn--accent,.btn--primary,.btn--secondary {
    color: white;
}
.btn--special {
    border: 2px solid var(--headings-color);
    color: var(--headings-color);
    background-color: white;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .btn {
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
    }
}

/* Input */

input[type = "text"] {
    font-size: 2.3rem;
    padding: 2rem 3rem;
    border-radius: 50px;
    border: none;
    outline: 0;
}

::placeholder{
    color: #cdcbd7;
}

.input-group {
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgb(216, 216, 216);
    display: flex;
}

.input-group input[type="text"] {
    border: none;
    box-shadow:none;
    flex-grow: 1;
}

.input-group .btn {
    padding: 0rem 4rem 0rem 1.5rem;
    margin: 4px;
    display: flex;
    align-items: center;

}


@media screen and (min-width:1024px) {
    input[type = "text"] {
    font-size: 1.5rem;
    padding-bottom: 1rem;}
}

/* Cards */
.card-container {
    display: inline-block;
    
}
.card {
    margin: 7rem 2rem;
    box-shadow: 0 0 20px 10px rgb(225, 225, 225);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.card__header { 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card__body,.card__header {padding: 2rem 3rem;}

.card--primary .card__header {
    background-color: var(--primary-color);
    color: white;
}
.card--secondary .card__header {
    background-color: var(--secondary-color);
    color: white;
}
.card__header .badge {display: inline-block;}

.card__footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--popular 
{position: relative;}

.card--popular .card__header::before {
    width: 40px;
    content: url(../images/popular.svg);
    position: absolute;
    display: inline-block;
    right: 5%;
    top: -0.5%;
}



.card__footer .btn {flex-grow: 1;}

.plan__price {font-size: 6rem;}

.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 200;
    opacity: .8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 2px;
}
.plan__name {
    margin: 0;
    color: white;
    font-size: 2.4rem;
}



@media screen and (min-width: 1024px) {

.plan__name {font-size: 1.4rem;}

.plan__price {font-size: 5rem;}

.plan__billing-cycle {font-size: 1.6rem;}

.plan__description {font-size: 1.7rem;}

.card--popular {
    transform: scale(1.1);
    box-shadow: 0 10px 20px 10px rgb(225, 225, 225);
}

.card--popular .card__header::before {width: 30px;}

}


/* Media elements */


.media {
    display: flex;

}

.media__image {
    margin: 3.5rem 0 3.5rem 2rem;
}

.media__body {
    margin: 0 2rem;
}


.media__image .icon {
    width: 50px; height: 50px;
}

.media__description {
    font-size: 2rem; 
    font-weight: 300;
    opacity: 0.6;

}
.media__title {font-size: 2.4rem;}

/* Quotes */

.quote-container {
    font-size: 3rem;
    margin: 4rem;
}

.quote__message {
    font-style: italic;
    color: #5c5577;
    margin:0 0 3rem 0;
    font-size: 3rem;
    text-align: left;
}

.quote__message::before {
    content: open-quote;
}
.quote__message::after {
    content: close-quote;
}

.quote__quotee__line {
    position: relative;
    bottom: 20px;
}

.quote__quotee__name {
    margin-bottom: 0;
}

.quote__quotee__organization {
    color: var(--headings-color);
    opacity: 0.4;

}

@media screen and (min-width: 1024px) {
    .quote__message, .quote__quotee__name {
        font-size: 2.4rem;
    }

    .quote__quotee__line {
        bottom: 17px;
    }

    .quote__quotee__organization {
        font-size: 1.6rem;
        text-align: start;
    }
}

/* Grids */

.grid {
    display: grid;
}


@media screen and (min-width: 1024px) {
    .grid--1rx2c {
        grid-template-columns: repeat(2, 1fr)
    }
}

/* Testimonials */

.testimonial__image > img {
    width: 100%;
}


.testimonial {
    text-align: center;
    padding: 3rem;
    margin: 2rem;
    text-align: center;
    box-shadow: 0 0 10px 10px rgb(227, 227, 227);
}

.testimonial__image {

    position: relative;
}
.testimonial__image .icon-container {
    height: 80px; width: 80px;
    position: absolute;
    top:5rem;
    right: -3rem;
    background-color: var(--accent-color);
    border-radius: 100%;
}
.testimonial__image .icon {
    height: 40px; width: 40px;
}

.testimonial .quote-container {
        margin-left: 8rem;
}

@media screen and (min-width: 768px) {
    .testimonial .quote__message {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 1024px) {

    .testimonial {
        max-width: 1200px;
    }
}

/* Callout */

.callout {
    margin: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 0 0rem 5rem 0rem;
}

.callout h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    color: inherit;
}

.callout p {
   margin-bottom: 2rem;
}

.callout {
    padding: 0 4rem;
}

.callout .btn {

    justify-self: center;
    align-self: center;
}

@media screen and (min-width: 768px) {

    .callout{text-align: left;}
    .callout .btn {
        justify-self: start;
    }
    .callout p {
   margin-bottom: 5rem;
}
    .callout .grid--1rx2c {
    grid-template-columns: 1fr auto;
}
}

/* Collapisble */

.collapsible {
    background-color: black;
    color: white;
}

.collapsible__header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    color: inherit;
    font-size: 3rem;
    margin-top: 0;
}

.collapsible__chevron {
    transform: rotate(-90deg);
}
.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
    opacity: 100%;
    max-height: 100vh;
}

