/* TODO: Add responsive styles for mobile devices */
/* FIXME: Fix header alignment issue */

:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --headings-color: #1b0760;
    --body-text-color: #a195c3;
    
}

/* Typography: */
html {
    font-size: 62.5%;
}


body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 2.4rem; /* 2.4rem -> 24px */
    color: var(--body-text-color);
}

h1, h2 , h3 {
    color: var(--headings-color);
    margin-bottom: 1rem;
}

h1 {font-size: 7rem;} /* 7rem -> 70px */
h2 {font-size: 4rem;} /* 4rem -> 40px */
h3 {font-size: 3rem;} /* 3rem -> 30px */

p {
    margin-top: 0;
}
/* Desktop typography */
@media screen and (min-width: 1024px ) {
body { font-size: 1.8rem;}
h1 {font-size: 8rem;} /* 7rem -> 70px */
h2 {font-size: 4rem;} /* 4rem -> 40px */
h3 {font-size: 2.4rem;} /* 3rem -> 30px */
}

/* Links (Learn More link) */

a {
    text-decoration: none;
    color: inherit; /*Inherits the color from the body element*/
}

.fa-arrow-right,.link-arrow {color: var(--accent-color);}

.link-arrow{
    font-size: 2rem;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.fa-arrow-right {transition: margin-left 0.2s;} /*Transition for the animation below*/

.learn-more:hover .fa-arrow-right {margin-left: 1rem;} /* The last state of the animation*/

@media screen and (min-width: 1024px ) {
.link-arrow {font-size: 1.5rem;}
}

/* Badges */
.badge {
    border-radius: 100px;
    color: #ffff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 1.7rem 0.5rem 1.7rem;
    white-space: nowrap;
}

.badge--big {
    font-size: 2rem;
    background-color: var(--secondary-color);
}

.badge--primary {
    background-color: #116de4;
}
.badge--secondary {
    background-color: #01cdf1;
}

@media screen and (min-width: 1024px ) {
    .badge {font-size: 1.2rem;}
    .badge--big {font-size: 1.5rem;}
}

/* Lists */
.list {
    color: var(--headings-color);
    list-style: none;
}


.inline-list {
    font-weight: bold;
}
.inline-list .list__item {
    display: inline-block;
    font-size: 2rem;
    padding-left: 5rem;
}

.list-tick {
    font-weight: 500;
    list-style-image: url(../images/tick.svg);
}

.list-tick .list__item {
    padding-left: 1rem;
    font-size: 2.4rem;
    padding-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
.inline-list .list__item {
    font-size: 1.5rem;
    padding-left: 2rem;
}
.list-tick .list__item {
    padding-left: 0.5rem;
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
}

}

/* Icons */

.icon 
{
    width: 40px; height: 40px;
}

.icon--primary {
    fill: var(--primary-color); /* Only applies to svg images */
    background-color: #f3f9f8;
}

.icon-container {
    display: flex; 
    align-items: center; justify-content: center;
    width: 64px; height: 64px;
    border-radius: 100%;
}

.white-bg-icon {
    background-color: #f3f9f8;
}


/* Buttons */

.btn {
    display: inline-block;
    padding: 2.3rem 15rem;
    border-radius: 100px;
    text-transform:uppercase;
    font-size: 1.9rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s;
}


/* Variants */
.btn-primary {background-color: var(--headings-color);}
.btn-secondary {background-color: var(--secondary-color);}
.btn-accent {background-color: var(--accent-color);}


.btn-accent,.btn-primary,.btn-secondary {
    color: white;
}
.btn-special {
    border: 2px solid var(--headings-color);
    color: var(--headings-color);
    background-color: white;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .btn {
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
    }
}
