<header class="block__header">
  <h2 class="block__heading">Host on The Cloud to Keep Growing</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta a aliquam
    eius officiis deleniti velit explicabo autem eaque libero excepturi?
  </p>
</header>
<section class="block container features">
  <div class="grid grid--1rx2c">
    <div class="feature__content">
      <div class="media">
        <div class="media__image">
          <div class="icon-container icon-container--feature">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </div>
        </div>
        <div class="media__body">
          <h3 class="media__title">Super Easy to Use</h3>
          <p class="media__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            libero sit quam ab ad ratione fugiat aliquam dignissimos quibusdam,
            quaerat tempore dolore provident eaque natus, incidunt temporibus
            cumque sint modi.
          </p>
          <div class="learn-more">
            <a href="#" class="link-arrow">Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <picture>
        <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy@2x.webp 2x" />
        <source
          type="image/jpg"
          srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x" />
        <img src="images/easy.jpg" alt=""
      /></picture>
    </div>
  </div>
</section>
<section class="block container features">
  <div class="grid grid--1rx2c">
    <div class="feature__content">
      <div class="media">
        <div class="media__image">
          <div class="icon-container icon-container--feature">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#computer"></use>
            </svg>
          </div>
        </div>
        <div class="media__body">
          <h3 class="media__title">Super Easy to Use</h3>
          <p class="media__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            libero sit quam ab ad ratione fugiat aliquam dignissimos quibusdam,
            quaerat tempore dolore provident eaque natus, incidunt temporibus
            cumque sint modi.
          </p>
          <div class="learn-more">
            <a href="#" class="link-arrow">Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <picture> <img src="images/support.jpg" alt="" /></picture>
    </div>
  </div>
</section>
<section class="block container features">
  <div class="grid grid--1rx2c">
    <div class="feature__content">
      <div class="media">
        <div class="media__image">
          <div class="icon-container icon-container--feature">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#settings"></use>
            </svg>
          </div>
        </div>
        <div class="media__body">
          <h3 class="media__title">Super Easy to Use</h3>
          <p class="media__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            libero sit quam ab ad ratione fugiat aliquam dignissimos quibusdam,
            quaerat tempore dolore provident eaque natus, incidunt temporibus
            cumque sint modi.
          </p>
          <div class="learn-more">
            <a href="#" class="link-arrow">Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <picture> <img src="images/ipad.png" alt="" /></picture>
    </div>
  </div>
</section>
<section class="block container features">
  <div class="grid grid--1rx2c">
    <div class="feature__content">
      <div class="media">
        <div class="media__image">
          <div class="icon-container icon-container--feature">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
        </div>
        <div class="media__body">
          <h3 class="media__title">Super Easy to Use</h3>
          <p class="media__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            libero sit quam ab ad ratione fugiat aliquam dignissimos quibusdam,
            quaerat tempore dolore provident eaque natus, incidunt temporibus
            cumque sint modi.
          </p>
          <div class="learn-more">
            <a href="#" class="link-arrow">Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <picture> <img src="images/fast.jpg" alt="" /></picture>
    </div>
  </div>
</section>
